<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <th:block th:replace="fragments/fragments::agencyhead"></th:block>
</head>
<body>
<div th:replace="base :: navbar"></div>
<div class="jumbotron">
    <div class="container">
        <form  action ="#"  th:action="@{/job/skill}" th:object="${skills}" method = "post">
            <br /><br /><br />
            <h3>Add skills to your job.</h3>

            <div th:each="skill: ${skillList}">
                <label >Skills : <p th:text="${skill.skill}"></p></label>
            </div>
            <div  class="form-group">
                <label >Skill
                    <mark><strong><span th:if="${#fields.hasErrors('skill')}" th:errors="*{skill}">Skills Error</span></strong></mark></label>
                <input type="text" class="form-control" id="skill" placeholder="skill" th:field="*{skill}" />

            </div>

            <input type="hidden" name="jobId" th:value="${jobId}"/>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
</body>
</html>