<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <th:block th:replace="fragments/fragments::agencyhead"></th:block>
</head>
<body>
<div th:replace="base :: navbar"></div>
<div class="jumbotron">
    <div class="container">
        <br/><br/><br/>

<div th:each="person : ${person}" style="margin-left: 300px">
    <img th:src="${person.image}" height="100px" width="90px"/>

    <span th:text="${person.firstName}"></span>
    <span th:text="${person.lastName}"></span><br/>
    <p th:text="${person.email}"></p>
</div>
    </div>
</div>
</body>
</html>