!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <th:block th:replace="fragments/fragments::agencyhead"></th:block>
</head>
<body>
<div th:replace="base :: navbar"></div>
<div class="jumbotron" >
    <div class="container"  style="height: 1200px;width: 800px">
        <label >Skills :</label>
        <ul th:each="skill: ${skList}">
             <li th:text="${skill.skill}"></li>
        </ul>
        <div th:if="${skList!=null}"  style="height: 1200px;">
            <form  action ="#"  th:action="@{'/job/skill/' + ${jobId}}"  method = "post" style="height: 1200px;">
                <input type="hidden" name="skList" th:value = "${skList}"/>
                <input type = "submit" value="Add skill"/>
                <a th:href="@{/addjobs}" class="btn btn-primary" role="button">Back To Post Jobs</a>

            </form>
        </div>

    </div>
</div>
</body>
</html>