<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<head>
    <th:block th:replace="fragments/fragments::agencyhead"></th:block>
</head>
<body>
<div th:replace="base :: navbar"></div>

<div class="jumbotron">
    <div class="container" >

        <div th:if="${param.error}">
            Invalid email and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <div>
            <p th:if="${errormessage!=null}" th:text="${errormessage}"></p>
        </div>
        <section>
        <form th:action="@{/login}" method="post">
            <label> User name : <input type="text"  name="username" /> </label>
            <label> Password:</label> <input type="password" name="password"  />
            <button type="submit" class="btn btn-default">Sign In</button>
        </form></section>
    </div>
</div>
</body>
</html>